
iBrogue_iPad.xcodeproj/xcuserdata/sethhoward.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

iBrogue_iPad.xcodeproj/project.xcworkspace/xcuserdata/sethhoward.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
